[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.5"
django-mathfilters = "*"
django-uuslug = "*"
django-versatileimagefield = "*"
path-py = "*"
django-bulma = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.7"
