{% extends "base-full-hero.html" %}

{% load i18n static bulma_tags %}

{% block body-id %}quizz-create{% endblock %}
{% block head-title %}{% trans "Start a new quizz" %}{% endblock %}

{% block content %}
    <form method="post" class="form is-horizontal has-text-centered">
        {% csrf_token %}

        <p class="title">
            <label>
                {% blocktrans with how_many_input=form.how_many %}
                    Start a quizz containing {{ how_many_input }} questions
                {% endblocktrans %}
            </label>
        </p>

        <section class="section ee-quizz-options">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {% trans "Difficulty" %}
                    </p>
                    <a href="#" class="card-header-icon">
                        <span class="option-summary">
                            {% trans "Indifferent" %}
                        </span>
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    {{ form.difficulty }}
                </div>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {% trans "Language" %}
                    </p>
                    <a href="#" class="card-header-icon">
                        <span class="option-summary">
                            {% trans "Indifferent" %}
                        </span>
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    {{ form.locale }}
                </div>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {% trans "Categories" %}
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="option-summary" data-empty-value="{% trans "All" %}">
                            {% trans "All" %}
                        </span>
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content card-tags">
                    {{ form.tags }}
                </div>
            </div>

            <div class="card">
                <header class="card-header">
                    <p class="card-header-title">
                        {% trans "Contest" %}
                    </p>
                    <a href="#" class="card-header-icon" aria-label="more options">
                        <span class="option-summary" data-empty-value="{% trans "All + training questions" %}">
                            {% trans "All + training questions" %}
                        </span>
                        <span class="icon">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </a>
                </header>
                <div class="card-content">
                    {{ form.contest|bulma_inline }}
                </div>
            </div>
        </section>

        <input type="submit" value="{% trans "Start a quizz" %}" class="button is-primary is-large is-serif" />
    </form>

    {% if not user.is_authenticated %}
        <div class="box login-invitation">
            <div class="columns is-vcentered">
                <div class="column is-9">
                    <p class="is-size-5">
                        {% blocktrans %}
                            Login with your Google account to <strong>record your
                            progress</strong> over time and get <strong>optimized
                            questions</strong> according to your <strong>strengths
                            and weaknesses</strong>.
                        {% endblocktrans %}
                    </p>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="{% url "social:begin" "google-oauth2" %}" class="button is-link is-medium is-google-login">
                        <span class="icon">
                            <img src="{% static "images/google-logo.svg" %}" alt="G" />
                        </span>
                        <span>{% trans "Login" %}</span>
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block hero-foot %}
    <section class="section has-text-centered">
        <a href="{% url "quizz:legal" %}">{% trans "Legal" %}</a>
    </section>
{% endblock %}

{% block css %}
    <!-- Only used for the « login » button -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&text={% trans "Login" %}" rel="stylesheet" />
{% endblock %}
