.title {
  font-family: $family-serif;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $family-serif;
    font-weight: 600;
  }
}

a {
  transition: color .2s ease-in-out;
}

.button.is-serif {
  font-family: $family-serif;
}
