<!DOCTYPE html>

{% load i18n %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% get_current_language as current_language %}

<html lang="{{ current_language }}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block head-title %}{% endblock %}</title>

        <!-- TODO Host fonts locally -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&amp;subset=latin-ext" rel="stylesheet" §>

        {% render_bundle "ehl-oenology-quizz" "css" %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

        {% block css %}{% endblock %}
    </head>

    <body id="{% block body-id %}{% endblock %}">
        {% block main %}{% endblock %}

        {# The Django catalog must be loaded first #}
        <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>

        {# Then only we render our own JS bundle #}
        {% render_bundle 'vendor' 'js' 'DEFAULT' attrs='async'%}
        {% render_bundle 'ehl-oenology-quizz' 'js' 'DEFAULT' attrs='async'%}

        {% block js %}{% endblock %}
    </body>
</html>
