{% extends "base-blank.html" %}

{% load i18n %}
{% load mathfilters %}

{% block main %}
    <section class="hero {% block hero-classes %}is-primary is-small is-bold{% endblock %}">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{% url "quizz:create-quizz" %}" class="navbar-item has-text-weight-bold">
                            {% trans "EHL OENOLOGY" %}&nbsp;<span class="is-uppercase is-size-7">Bêta</span>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% block hero-menu %}
                                {% if user.is_authenticated %}
                                    <div class="navbar-item">
                                            Hi, {% if user.first_name or user.last_name %}
                                                {{ user.first_name }} {{ user.last_name }}
                                            {% else %}
                                                {{ user.username }}
                                            {% endif %}
                                    </div>

                                    <a href="{% url "quizz:create-quizz" %}" class="navbar-item">
                                        <strong>{% trans "Start a quizz" %}</strong>
                                    </a>

                                    {% if ongoing_quizzes %}
                                        {% if not quizz or ongoing_quizzes|length > 1 %}
                                            <div class="navbar-item has-dropdown is-hoverable">
                                                <span class="navbar-link has-text-weight-bold">
                                                    {% trans "Ongoing quizzes" %}
                                                </span>

                                                <div class="navbar-dropdown is-right has-text-black">
                                                    <div class="navbar-item">
                                                        <p class="has-text-weight-bold has-text-black">
                                                            {% if quizz and quizz.is_running %}
                                                                {% blocktrans count count=ongoing_quizzes|length %}
                                                                    You have one ongoing quizz (including the current one).
                                                                {% plural %}
                                                                    You have {{ count }} ongoing quizzes (including the current one).
                                                                {% endblocktrans %}
                                                            {% else %}
                                                                {% blocktrans count count=ongoing_quizzes|length %}
                                                                    You have one ongoing quizz.
                                                                {% plural %}
                                                                    You have {{ count }} ongoing quizzes.
                                                                {% endblocktrans %}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    {% for ongoing_quizz in ongoing_quizzes %}
                                                        {% if not quizz or ongoing_quizz != quizz %}
                                                            <a class="navbar-item" href="{% url "quizz:quizz" slug=ongoing_quizz.slug %}">
                                                                <span class="icon is-medium">
                                                                    <span class="fas fa-envelope-open-text"></span>
                                                                </span>
                                                                <span title="{% spaceless %}{% blocktrans with date=ongoing_quizz.started_at|date hour=ongoing_quizz.started_at|time %}
                                                                        Started {{ date }} at {{ hour }}
                                                                    {% endblocktrans %}{% endspaceless %}">
                                                                    {% blocktrans with since=ongoing_quizz.started_at|timesince %}
                                                                        Started {{ since }} ago
                                                                    {% endblocktrans %}
                                                                    <br />
                                                                    <span class="has-text-grey">
                                                                        {% if ongoing_quizz.questions_finished == 0 %}
                                                                            {% blocktrans count total_questions=ongoing_quizz.questions_total %}
                                                                                Not started yet ({{ total_questions }} question)
                                                                            {% plural %}
                                                                                Not started yet ({{ total_questions }} questions)
                                                                            {% endblocktrans %}
                                                                        {% else %}
                                                                            {% blocktrans with percentage=ongoing_quizz.questions_finished|div:ongoing_quizz.questions_total|mul:100|floatformat:0 current_question=ongoing_quizz.questions_finished|add:1 total_questions=ongoing_quizz.questions_total %}
                                                                                {{ percentage }}&nbsp;% complete (question {{ current_question }} of {{ total_questions }})
                                                                            {% endblocktrans %}
                                                                        {% endif %}
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <a href="{% url "quizz:user-quizzes" %}" class="navbar-item">
                                        {% trans "Past quizzes" %}
                                    </a>

                                    {% if perms.quizz.view_question or perms.quizz.add_question or perms.quizz.view_tag or perms.quizz.add_tag or perms.auth.view_user or perms.quizz.view_quizz or user.is_staff %}
                                        <div class="navbar-item has-dropdown is-hoverable">
                                            <a class="navbar-link" href="">
                                                {% trans "Management" %}
                                            </a>

                                            <div class="navbar-dropdown is-right has-text-black">
                                                <a class="navbar-item">
                                                    <span class="icon is-medium">
                                                        <span class="fas fa-globe-europe"></span>
                                                    </span>
                                                    <span>{% trans "Overview" %}</span>
                                                </a>

                                                {% if perms.quizz.view_question or perms.quizz.add_question %}
                                                    <hr class="navbar-divider" />

                                                    <div class="navbar-item">
                                                        <p class="has-text-weight-bold has-text-black">{% trans "Questions" %}</p>
                                                    </div>

                                                    {% if perms.quizz.view_question %}
                                                        <a class="navbar-item" href="{% url "quizz:management:list" %}">
                                                            <span class="icon is-medium">
                                                                <span class="fas fa-question"></span>
                                                            </span>
                                                            <span>{% trans "All questions" %}</span>
                                                        </a>
                                                    {% endif %}

                                                    {% if perms.quizz.add_question %}
                                                        <a class="navbar-item" href="{% url "quizz:management:create" %}">
                                                            <span class="icon is-medium">
                                                                <span class="fas fa-plus"></span>
                                                            </span>
                                                            <span>{% trans "Create question" %}</span>
                                                        </a>

                                                        <a class="navbar-item" href="{% url "quizz:management:import" %}">
                                                            <span class="icon is-medium">
                                                                <span class="fas fa-file-import"></span>
                                                            </span>
                                                            <span>{% trans "Import questions" %}</span>
                                                        </a>
                                                    {% endif %}
                                                {% endif %}

                                                {% if user.is_staff %}
                                                    {% if perms.quizz.view_tag or perms.quizz.add_tag %}
                                                        <hr class="navbar-divider" />

                                                        <div class="navbar-item">
                                                            <p class="has-text-weight-bold has-text-black">{% trans "Tags" %}</p>
                                                        </div>

                                                        {% if perms.quizz.view_tag %}
                                                            <a href="{% url "admin:quizz_tag_changelist" %}" class="navbar-item">
                                                                <span class="icon is-medium">
                                                                    <span class="fas fa-tags"></span>
                                                                </span>
                                                                <span>{% trans "All tags" %}</span>
                                                            </a>
                                                        {% endif %}

                                                        {% if perms.quizz.add_tag %}
                                                            <a href="{% url "admin:quizz_tag_add" %}" class="navbar-item">
                                                                <span class="icon is-medium">
                                                                <span class="fas fa-plus"></span>
                                                            </span>
                                                            <span>{% trans "Create tag" %}</span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    {% if perms.auth.view_user or perms.quizz.view_quizz %}
                                                        <hr class="navbar-divider" />

                                                        <div class="navbar-item">
                                                            <p class="has-text-weight-bold has-text-black">{% trans "Users" %}</p>
                                                        </div>

                                                        {% if perms.auth.view_user %}
                                                            <a href="{% url "admin:auth_user_changelist" %}" class="navbar-item">
                                                                <span class="icon is-medium">
                                                                    <span class="fas fa-user-graduate"></span>
                                                                </span>
                                                                <span>{% trans "All users" %}</span>
                                                            </a>
                                                        {% endif %}

                                                        {% if perms.quizz.view_quizz %}
                                                            <a href="{% url "quizz:management:quizzes" %}" class="navbar-item">
                                                                <span class="icon is-medium">
                                                                    <span class="fas fa-file-signature"></span>
                                                                </span>
                                                                <span>{% trans "All quizzes" %}</span>
                                                            </a>
                                                        {% endif %}
                                                    {% endif %}

                                                    <hr class="navbar-divider" />

                                                    <a href="{% url "admin:index" %}" class="navbar-item">
                                                        <span class="icon is-medium">
                                                            <span class="fas fa-radiation"></span>
                                                        </span>
                                                        <span>{% trans "Advanced administration panel" %}</span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}

                                    <a href="{% url "logout" %}" class="navbar-item" title="{% trans "Logout" %}">
                                        <span class="is-sr-only">{% trans "Logout" %}</span>
                                        <span class="icon">
                                            <span class="fas fa-sign-out-alt"></span>
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{% url "social:begin" "google-oauth2" %}" class="navbar-item">
                                        {% trans "Login" %}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            {% block hero-body %}
                <div class="container has-text-centered">
                    {% block hero-title %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            {% block hero-foot %}{% endblock %}
        </div>
    </section>

    {% block flash-messages %}
        {% include "snippets/flash-messages.html" with messages=messages DEFAULT_MESSAGE_LEVELS=DEFAULT_MESSAGE_LEVELS only %}
    {% endblock %}

    {% block container %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
