{% extends "base-blank.html" %}

{% load i18n mathfilters si %}

{% block main %}
    <section class="hero {% block hero-classes %}is-primary is-small is-bold{% endblock %}">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a href="{% url "quizz:create-quizz" %}" class="navbar-item has-text-weight-bold">
                            {% trans "EHL OENOLOGY" %}&nbsp;<span class="is-uppercase is-size-7">Bêta</span>
                        </a>
                        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
                            {% block hero-menu %}
                                {% if user.is_authenticated %}
                                    <div class="navbar-item">
                                        Hi, {% if user.first_name or user.last_name %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% else %}
                                        {{ user.username }}
                                    {% endif %}
                                    </div>

                                    <div class="navbar-item is-hidden-mobile is-hidden-tablet-only" role="separator">
                                        &bull;
                                    </div>

                                    <a href="{% url "quizz:create-quizz" %}" class="navbar-item">
                                        <strong>{% trans "Start a quizz" %}</strong>
                                    </a>

                                    {% if ongoing_quizzes %}
                                        {% if not quizz or ongoing_quizzes|length > 1 %}
                                            <div class="navbar-item has-dropdown is-hoverable">
                                                <span class="navbar-link has-text-weight-bold">
                                                    {% trans "Ongoing quizzes" %}
                                                </span>

                                                <div class="navbar-dropdown is-right">
                                                    <div class="navbar-item is-hidden-touch">
                                                        <p class="has-text-weight-bold">
                                                            {% if quizz and quizz.is_running %}
                                                                {% blocktrans count count=ongoing_quizzes|length %}
                                                                    You have one ongoing quizz (including the current
                                                                    one).
                                                                {% plural %}
                                                                    You have {{ count }} ongoing quizzes (including the
                                                                    current one).
                                                                {% endblocktrans %}
                                                            {% else %}
                                                                {% blocktrans count count=ongoing_quizzes|length %}
                                                                    You have one ongoing quizz.
                                                                {% plural %}
                                                                    You have {{ count }} ongoing quizzes.
                                                                {% endblocktrans %}
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    {% for ongoing_quizz in ongoing_quizzes %}
                                                        {% if not quizz or ongoing_quizz != quizz %}
                                                            <a class="navbar-item"
                                                               href="{% url "quizz:quizz" slug=ongoing_quizz.slug %}">
                                                                <span class="icon is-medium">
                                                                    <span class="fas fa-envelope-open-text"></span>
                                                                </span>
                                                                <span title="{% spaceless %}{% blocktrans with date=ongoing_quizz.started_at|date hour=ongoing_quizz.started_at|time %}
                                                                        Started {{ date }} at {{ hour }}
                                                                    {% endblocktrans %}{% endspaceless %}">
                                                                    {% blocktrans with since=ongoing_quizz.started_at|timesince %}
                                                                        Started {{ since }} ago
                                                                    {% endblocktrans %}
                                                                    <br/>
                                                                    <span class="is-navbar-item-subtitle">
                                                                        {% if ongoing_quizz.questions_finished == 0 %}
                                                                            {% blocktrans count total_questions=ongoing_quizz.questions_total %}
                                                                                Not started yet ({{ total_questions }}
                                                                                question)
                                                                            {% plural %}
                                                                                Not started yet ({{ total_questions }}
                                                                                questions)
                                                                            {% endblocktrans %}
                                                                        {% else %}
                                                                            {% blocktrans with percentage=ongoing_quizz.questions_finished|div:ongoing_quizz.questions_total|mul:100|floatformat:0 current_question=ongoing_quizz.questions_finished|add:1 total_questions=ongoing_quizz.questions_total %}
                                                                                {{ percentage }}&nbsp;% complete
                                                                                (question {{ current_question }} of
                                                                                {{ total_questions }})
                                                                            {% endblocktrans %}
                                                                        {% endif %}
                                                                    </span>
                                                                </span>
                                                            </a>
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="navbar-item is-hidden-mobile is-hidden-tablet-only" role="separator">
                                        &bull;
                                    </div>

                                    <a href="{% url "quizz:user-quizzes" %}" class="navbar-item">
                                        {% trans "Past quizzes" %}
                                    </a>

                                    {% if perms.quizz.view_question or perms.quizz.add_question or perms.quizz.change_question or perms.quizz.view_tag or perms.quizz.add_tag or perms.quizz.delete_tag or perms.auth.view_user or perms.quizz.view_quizz or user.is_staff %}
                                        <div class="navbar-item is-hidden-mobile is-hidden-tablet-only"
                                             role="separator">&bull;
                                        </div>

                                        <div class="navbar-item has-dropdown is-hoverable is-mega">
                                            <span class="navbar-link" aria-haspopup="menu"
                                                 aria-describedby="management-dropdown">
                                                {% trans "Management" %}
                                            </span>
                                            <div id="management-dropdown" class="navbar-dropdown">
                                                <div class="container is-fluid">
                                                    <div class="columns">
                                                        {% if perms.quizz.view_question or perms.auth.view_user or perms.quizz.view_quizz %}
                                                            <div class="column is-3 is-hidden-mobile">
                                                                <h2 class="title is-4 is-mega-menu-title">{% trans "Overview" %}</h2>
                                                                {% if perms.quizz.view_question %}
                                                                    <a href="{% url "quizz:management:questions" %}"
                                                                       class="navbar-item is-overview-number">
                                                                        <p class="navbar-content">
                                                                            {# 2,6<span class="is-size-4">k</span> #}
                                                                            {% blocktrans count count=overview_statistics.questions with questions=overview_statistics.questions|si:"is-size-4" %}
                                                                                <span class="number">{{ questions }}</span>
                                                                                <span><span class="title">question</span></span>
                                                                            {% plural %}
                                                                                <span class="number">{{ questions }}</span>
                                                                                <span><span class="title">questions</span></span>
                                                                            {% endblocktrans %}
                                                                        </p>
                                                                    </a>
                                                                {% endif %}
                                                                {% if perms.auth.view_user %}
                                                                    <a href="{% url "quizz:management:users" %}"
                                                                       class="navbar-item is-overview-number">
                                                                        <p class="navbar-content">
                                                                            {% if overview_statistics.anonymous > 0 %}
                                                                                {% blocktrans count count=overview_statistics.users with anonymous=overview_statistics.anonymous  users=overview_statistics.users|si:"is-size-4" %}
                                                                                    <span class="number">{{ users }}</span>
                                                                                    <span><span class="title">user <span class="has-text-grey has-text-weight-normal" title="Anonymous users">(+ {{ anonymous }})</span></span>
                                                                                {% plural %}
                                                                                    <span class="number">{{ users }}</span>
                                                                                    <span><span class="title">users <span class="has-text-grey has-text-weight-normal" title="Anonymous users">(+ {{ anonymous }})</span></span>
                                                                                {% endblocktrans %}
                                                                            {% else %}
                                                                                {% blocktrans count count=overview_statistics.users with questions=overview_statistics.users|si:"is-size-4" %}
                                                                                    <span class="number">{{ users }}</span>
                                                                                    <span><span class="title">user</span>
                                                                                {% plural %}
                                                                                    <span class="number">{{ users }}</span>
                                                                                    <span><span class="title">users</span>
                                                                                {% endblocktrans %}
                                                                            {% endif %}

                                                                                <span class="help">
                                                                                    {% blocktrans count count=overview_statistics.mean_quizzes_per_user with quizzes=overview_statistics.mean_quizzes_per_user|si %}
                                                                                        {{ quizzes }} quizz in average
                                                                                    {% plural %}
                                                                                        {{ quizzes }} quizzes in average
                                                                                    {% endblocktrans %}
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </a>
                                                                {% endif %}
                                                                {% if perms.quizz.view_quizz %}
                                                                    <a href="{% url "quizz:management:quizzes" %}"
                                                                       class="navbar-item is-overview-number">
                                                                        <p class="navbar-content">
                                                                            {% blocktrans count count=overview_statistics.quizzes with quizzes=overview_statistics.quizzes|si:"is-size-4" %}
                                                                                    <span class="number">{{ quizzes }}</span>
                                                                                    <span><span class="title">quizz</span>
                                                                                {% plural %}
                                                                                    <span class="number">{{ quizzes }}</span>
                                                                                    <span><span class="title">quizzes</span>
                                                                                {% endblocktrans %}

                                                                                <span class="help">
                                                                                    {% blocktrans count count=overview_statistics.mean_questions_per_quizz with questions=overview_statistics.mean_questions_per_quizz|si %}
                                                                                        {{ questions }} question in average
                                                                                    {% plural %}
                                                                                        {{ questions }} questions in average
                                                                                    {% endblocktrans %}
                                                                                </span>
                                                                            </span>
                                                                        </p>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                        {% if perms.quizz.view_question or perms.quizz.add_question %}
                                                            <div class="column is-3">
                                                                <h2 class="title is-4 is-mega-menu-title">{% trans "Questions" %}</h2>
                                                                {% if perms.quizz.view_question %}
                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "quizz:management:questions" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-question fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "All questions" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}

                                                                {% if perms.quizz.add_question %}
                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "quizz:management:questions-create" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-plus fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "Create question" %}</span>
                                                                        </span>
                                                                    </a>

                                                                    <hr />

                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "quizz:management:questions-import" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-file-import fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "Import questions" %}</span>
                                                                            <span class="help">{% trans "From a spreadsheet" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                        {% if user.is_staff or perms.quizz.view_tag or perms.quizz.view_contest or perms.quizz.delete_tag %}
                                                            <div class="column is-3">
                                                                <h2 class="title is-4 is-mega-menu-title">{% trans "Metadata" %}</h2>

                                                                {% if perms.quizz.view_tag and user.is_staff %}
                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "admin:quizz_tag_changelist" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-tags fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "All categories" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}

                                                                {% if perms.quizz.view_contest and user.is_staff %}
                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "admin:quizz_contest_changelist" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-wine-glass-alt fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "All contests" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}

                                                                {% if perms.quizz.delete_tag and perms.quizz.change_question %}
                                                                    {% if perms.quizz.view_tag and user.is_staff or perms.quizz.add_tag and user.is_staff %}
                                                                        <hr />
                                                                    {% endif %}
                                                                    <a class="navbar-item has-icon"
                                                                       href="{% url "quizz:management:tags-migration" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-arrow-right fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "Migrate category" %}</span>
                                                                            <span class="help">{% trans "Change categories in bulk" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}

                                                        {% if perms.auth.view_user or perms.quizz.view_quizz %}
                                                            <div class="column is-3">
                                                                <h2 class="title is-4 is-mega-menu-title">{% trans "Users & quizzes" %}</h2>

                                                                {% if perms.auth.view_user %}
                                                                    <a class="navbar-item has-icon" href="{% url "quizz:management:users" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-user-graduate fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "All users" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}

                                                                {% if perms.quizz.view_quizz %}
                                                                    <a class="navbar-item has-icon"  href="{% url "quizz:management:quizzes" %}">
                                                                        <span class="icon is-large">
                                                                            <span class="fas fa-file-signature fa-lg"></span>
                                                                        </span>
                                                                        <span>
                                                                            <span class="title">{% trans "All quizzes" %}</span>
                                                                            <span class="help">{% trans "And their detailed results" %}</span>
                                                                        </span>
                                                                    </a>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <hr class="navbar-divider">
                                                <div class="navbar-item">
                                                    <div class="navbar-content">
                                                        <div class="level is-mobile">
                                                            <div class="level-left">
                                                                <div class="level-item">
                                                                    <a href="{% url "quizz:legal" %}" class="button is-white">
                                                                        {% trans "Legal" %}
                                                                    </a>
                                                                </div>
                                                            </div>

                                                            <div class="level-right">
                                                                {% if user.is_staff %}
                                                                    <div class="level-item">
                                                                        <a href="{% url "admin:index" %}" class="button is-white">
                                                                            <span class="icon">
                                                                                <span class="fas fa-radiation"></span>
                                                                            </span>
                                                                            <span>
                                                                                <span class="is-hidden-mobile">{% trans "Advanced administration panel" %}</span>
                                                                                <span class="is-hidden-tablet" aria-hidden="true">{% trans "Advanced admin" %}</span>
                                                                            </span>
                                                                        </a>
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}

                                    <a href="{% url "logout" %}" class="navbar-item" title="{% trans "Logout" %}">
                                        <span class="is-hidden-desktop">{% trans "Logout" %}</span>
                                        <span class="icon">
                                            <span class="fas fa-sign-out-alt"></span>
                                        </span>
                                    </a>
                                {% else %}
                                    <a href="{% url "social:begin" "google-oauth2" %}" class="navbar-item">
                                        {% trans "Login" %}
                                    </a>
                                {% endif %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Hero content: will be in the middle -->
        <div class="hero-body">
            {% block hero-body %}
                <div class="container has-text-centered">
                    {% block hero-title %}{% endblock %}
                </div>
            {% endblock %}
        </div>

        <!-- Hero footer: will stick at the bottom -->
        <div class="hero-foot">
            {% block hero-foot %}{% endblock %}
        </div>
    </section>

    {% block flash-messages %}
        {% include "snippets/flash-messages.html" with messages=messages DEFAULT_MESSAGE_LEVELS=DEFAULT_MESSAGE_LEVELS only %}
    {% endblock %}

    {% block container %}
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
{% endblock %}
