<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{% block head-title %}{% endblock %}</title>

        <!-- TODO replace with local minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />

        {% block css %}{% endblock %}
    </head>

    <body>
        {% block main %}{% endblock %}


        <!-- TODO replace with local minified JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

        <script type="text/javascript" src="{% url "javascript-catalog" %}"></script>

        <script type="text/javascript">
            /**
             * Updates each file input field to be interactive, displaying their file name when a file is selected.
             */
            $(function()
            {
                $('label.file-label').each(function()
                {
                    let $this = $(this);
                    $this.wrap('<div class="file has-name" />')
                        .append('<div class="file-name">Ø</div>')
                        .attr("title", gettext("Nothing selected yet. Click to choose a file."));

                    let file_name = $this.find(".file-name");
                    $this.find("input[type=file]").on('change', function()
                    {
                        file_name.text(this.files[0].name);
                        $this.attr("title", interpolate(gettext("You selected “%s”. Click again to select another file."), [this.files[0].name]));
                    });
                });
            });
        </script>

        {% block js %}{% endblock %}
    </body>
</html>
