{% load i18n %}
{% load url_replace %}

{% comment %}
    To be included with:
    - page_obj (the page object given by django's paginator, required); and
    - page_arg (the page GET argument to use, default to “page”).
{% endcomment %}

{% if page_obj.paginator.num_pages > 1 %}
    {% with page=page_obj.number paginator=page_obj.paginator %}
        <nav class="pagination is-centered">
            <a class="pagination-previous"
                {% if page_obj.has_previous %}href="?{% url_replace page=page_obj.previous_page_number %}"{% endif %}
                {% if not page_obj.has_previous %}disabled{% endif %}
                aria-label="{% trans "Go to the previous page" %}">
                <span class="icon">
                    <span class="fas fa-angle-left"></span>
                </span>
                {% trans "Previous" %}
            </a>

            <a class="pagination-next"
                {% if page_obj.has_next %}href="?{% url_replace page=page_obj.next_page_number %}"{% endif %}
                {% if not page_obj.has_next %}disabled{% endif %}
                aria-label="{% trans "Go to the next page" %}">
                {% trans "Next" %}
                <span class="icon">
                    <span class="fas fa-angle-right"></span>
                </span>
            </a>

            <ul class="pagination-list">
                {% if page > 3 %}
                    <li>
                        <a class="pagination-link" href="?{% url_replace page=1 %}" aria-label="{% trans "Go to the first page" %}">{{ 1|stringformat:"d" }}</a>
                    </li>
                    {% if page > 4 %}
                        <li>
                            <span class="pagination-ellipsis" aria-hidden="true">&hellip;</span>
                        </li>
                    {% endif %}
                {% endif %}

                {% for i in paginator.page_range %}
                    {% if i >= page|add:-2 and i <= page|add:2 %}
                        <li>
                            <a class="pagination-link{% if i == page %} is-current{% endif %}"
                               href="?{% url_replace page=i %}"
                               aria-label="{% blocktrans with current_page=i|stringformat:"d" total_pages=paginator.num_pages|stringformat:"d" %}Go to the page {{ current_page }} of {{ total_pages }}{% endblocktrans %}">
                                {{ i|stringformat:"d" }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if page <= paginator.num_pages|add:-3 %}
                    {% if page != paginator.num_pages|add:-3 and page != paginator.num_pages|add:-2 %}
                        <li>
                            <span class="pagination-ellipsis" aria-hidden="true">&hellip;</span>
                        </li>
                    {% endif %}
                    <li>
                        <a class="pagination-link"
                           href="?{% url_replace page=paginator.num_pages %}"
                           aria-label="{% trans "Go to the last page" %}">{{ paginator.num_pages|stringformat:"d" }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endwith %}
{% endif %}
