{% extends "base.html" %}

{% load i18n %}
{% load mathfilters %}
{% load mptt_tags %}

{% block head-title %}{% trans "All questions" %}{% endblock %}

{% block hero-title %}
    <h1 class="title">{% trans "All questions" %}</h1>
{% endblock %}

{% block content %}
    <section class="section">
        <nav class="level">
            <div class="level-left">
                <div class="level-item">
                    <p class="subtitle is-5">
                        {% blocktrans with questions_here=page_obj.object_list|length|stringformat:"d" questions_total=page_obj.paginator.count|stringformat:"d" %}
                            <strong>{{ questions_total }}</strong> questions ({{ questions_here }} shown).
                        {% endblocktrans %}
                        {% if page_obj.paginator.num_pages > 1 %}
                            {% blocktrans with page=page_obj.number|stringformat:"d" pages=page_obj.paginator.num_pages|stringformat:"d" %}
                                <span class="has-text-grey">Page {{ page }} of {{ pages }}.</span>
                            {% endblocktrans %}
                        {% endif %}
                    </p>
                </div>
            </div>

            <div class="level-right">
                <div class="level-item">
                    <div class="control">
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu-sort">
                                    <span>
                                        {% if sort_by == "name" and not sort_reversed %}
                                            {% trans "Sorting by <strong>name</strong>" %}
                                        {% elif sort_by == "name" and sort_reversed %}
                                            {% trans "Sorting by <strong>name</strong> (Z → A)" %}
                                        {% elif sort_by == "difficulty" and not sort_reversed %}
                                            {% trans "Sorting by <strong>difficulty</strong>" %}
                                        {% elif sort_by == "difficulty" and sort_reversed %}
                                            {% trans "Sorting by <strong>difficulty</strong> (Hard → Easy)" %}
                                        {% elif sort_by == "source" and not sort_reversed %}
                                            {% trans "Sorting by <strong>source</strong>" %}
                                        {% elif sort_by == "source" and sort_reversed %}
                                            {% trans "Sorting by <strong>source</strong> (Z → A)" %}
                                        {% elif sort_by == "illustration" and not sort_reversed %}
                                            {% trans "Sorting by <strong>illustration</strong>" %}
                                        {% elif sort_by == "illustration" and sort_reversed %}
                                            {% trans "Sorting by <strong>illustration</strong> (without first)" %}
                                        {% elif sort_by == "answered" and not sort_reversed %}
                                            {% trans "Sorting by <strong>most answered</strong>" %}
                                        {% elif sort_by == "answered" and sort_reversed %}
                                            {% trans "Sorting by <strong>least answered</strong>" %}
                                        {% elif sort_by == "success-rate" and not sort_reversed %}
                                            {% trans "Sorting by <strong>best success rate</strong>" %}
                                        {% elif sort_by == "success-rate" and sort_reversed %}
                                            {% trans "Sorting by <strong>worst success rate</strong>" %}
                                        {% endif %}
                                    </span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu-sort" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-item has-text-weight-bold">
                                        {% trans "Sort by…" %}
                                    </div>
                                    <hr class="dropdown-divider" />
                                    <a href="?sort={% if sort_by == "name" and not sort_reversed %}-{% endif %}name" class="dropdown-item{% if sort_by == "name" %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "name" %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Name" %}
                                    </a>
                                    <a href="?sort={% if sort_by == "difficulty" and not sort_reversed %}-{% endif %}difficulty" class="dropdown-item{% if sort_by == "difficulty" %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "difficulty" %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Difficulty" %}
                                    </a>
                                    <a href="?sort={% if sort_by == "source" and not sort_reversed %}-{% endif %}source" class="dropdown-item{% if sort_by == "source" %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "source" %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Source" %}
                                    </a>
                                    <a href="?sort={% if sort_by == "illustration" and not sort_reversed %}-{% endif %}illustration" class="dropdown-item{% if sort_by == "illustration" %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "illustration" %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Illustration" %}
                                    </a>
                                    <hr class="dropdown-divider" />
                                    <a href="?sort=answered" class="dropdown-item{% if sort_by == "answered" and not sort_reversed %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "answered" and not sort_reversed %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Most answered" %}
                                    </a>
                                    <a href="?sort=-answered" class="dropdown-item{% if sort_by == "answered" and sort_reversed %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "answered" and sort_reversed %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Least answered" %}
                                    </a>
                                    <a href="?sort=success-rate" class="dropdown-item{% if sort_by == "success-rate" and not sort_reversed %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "success-rate" and not sort_reversed %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Best success rate" %}
                                    </a>
                                    <a href="?sort=-success-rate" class="dropdown-item{% if sort_by == "success-rate" and sort_reversed %} is-active{% endif %}">
                                        <span class="icon">
                                            {% if sort_by == "success-rate" and sort_reversed %}<span class="fas fa-check"></span>{% endif %}
                                        </span>
                                        {% trans "Worst success rate" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if perms.quizz.add_question %}
                    <p class="level-item">
                        <a href="{% url "quizz:management:create" %}" class="button is-success">
                            <span class="icon">
                                <span class="fas fa-plus"></span>
                            </span>
                            <span>{% trans "Create a new question" %}</span>
                        </a>
                    </p>
                    <p class="level-item">
                        <a href="{% url "quizz:management:import" %}" class="button is-info">
                            <span class="icon">
                                <span class="fas fa-file-import"></span>
                            </span>
                            <span>{% trans "Import" %}</span>
                        </a>
                    </p>
                {% endif %}
            </div>
        </nav>

        <div class="columns is-multiline">
            {% for question in questions %}
                <div class="column is-6">
                    {% include "snippets/question-card.html" with question=question show_answers_stats=True %}
                </div>
            {% empty %}
                <div class="column is-12 is-size-4 has-text-centered">
                    {% url "quizz:management:create" as create_url %}
                    {% url "quizz:management:import" as import_url %}
                    {% blocktrans with create_url=create_url %}
                        There are no questions. You can <a href="{{ create_url }}">create one</a> or
                        <a href="{{ import_url }}">import some</a>.
                    {% endblocktrans %}
                </div>
            {% endfor %}
        </div>
    </section>
    <section class="section">
        {% include "pagination.html" with page_obj=page_obj request=request only %}
    </section>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        {% include "snippets/question-card.js" %}
    </script>
{% endblock %}
